


   table { border-collapse: collapse; border-spacing: 0; }
   td { vertical-align: top; }
   

   .container {
       width: 80%;
       max-width: 600px;
       margin: 0 auto;	
   }
   
   table{
       width: 100%;
   }
   
   thead{
       font-weight: bold;
       font-size: small;
   }
   
   td{	
       border: 1px solid #ddd;
       padding: 2px;
   }
   
   
   .project > .title {
       margin-bottom: 0px;
   }
   
   .project > .meta {
       font-size: 0.8em;
   }
   
   .project > .meta > .date {
       float: right;
   
   }
   p.one {border-left: solid;
         border-color: blue;}

   .footer {padding-bottom: 30px;}
   
   #education {
      columns: backdrop;
   }


   
   
   
   
   
   
 
   
   
